.calendar {
    display: flex;
    border-radius: 8px;
    padding: 0 20px;
    background: white;
    .calendar__leftside {
        display: flex;
        flex-direction: column;
        padding: 20px 0;

        flex-basis: 75%;
    }
    .calendar__container {
        width: 100%;
        // border:1px solid pink;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
}