.reminder-btn {
    border: 0;
    padding: 8px 16px;
    border-radius: 6px;
}

.reminder__form {
    display: flex;
    flex-direction: column;
}

.reminder__input {
    margin-top: 10px;
    margin-bottom: 5px;

}