.weekbar {
    // display: flex;
    // width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    // border-top: 1px solid #ddd;
    // border-left: 1px solid #ddd;
    // border-radius: 6px;

    .weekbar__item {
        display: flex;
        justify-content: center;
        align-items: center;
        // background: #2F74B5;
        color: #999;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
    }
}