.weekbar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .weekbar__item {
        display: flex;
        justify-content: center;
        align-items: center;
        // background: #2F74B5;
        color: #999;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
    }


    
}


@media (max-width: 660px) {
    .weekbar {
        width: 100%;
        // border:1px solid pink;
        display: grid;
        grid-template-columns: repeat(7, 40px);
    }
}